@using Site1.Models
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/theme/DefaultTheme.cshtml";

    SMTHEntities db = new SMTHEntities();

    List<Tuple<string,string>> sitemap = new List<Tuple<string,string>>();
    sitemap.Add(new Tuple<string, string>("Anasayfa", "/main/index"));
    sitemap.Add(new Tuple<string, string>("Ürünler", "/main/product"));

    int cid = 0, pid = 0, bid = 0;

    if (Request["producttype"] != null)
    {
        try {
            cid = int.Parse(Request["category"]);
            var map = db.TB_CATEGORIES.Where(i => i.ID == cid).ToList()[0];
            sitemap.Add(new Tuple<string, string>(map.strTitle, "/main/product?category=" + cid));
            pid = int.Parse(Request["producttype"]);
            map = db.TB_CATEGORIES.Where(i => i.ID == pid).ToList()[0];
            sitemap.Add(new Tuple<string, string>(map.strTitle, "/main/product?category=" + cid + "&producttype" + pid));
            bid = int.Parse(Request["brand"]);
            map = db.TB_CATEGORIES.Where(i => i.ID == bid).ToList()[0];
            sitemap.Add(new Tuple<string, string>(map.strTitle, "#"));
        }
        catch
        {

        }
    }

    int Page = Request["page"] == null ? 1 : int.Parse(Request["page"]);
    int pointer = 0;
}
<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <ul>
            @foreach (Tuple<string, string> map in sitemap)
            {
                if(++pointer < sitemap.Count)
                {                     
                    <li class="home"><a href="@map.Item2" title="@map.Item1 e git">@map.Item1</a>
                    <span> > </span> </li>
                }
            else{
                    <li class="category13"><strong>@map.Item1</strong></li>
                }
            }
        </ul>
      </div>
    </div>
  </div>

<div class="main-container col2-left-layout">
    <div class="main container">
      <div class="row">
         
        <section class="col-main col-sm-9 col-sm-push-3 wow bounceInUp animated animated" style="visibility: visible;">
          <div class="category-description std">
            
          </div>
          <div class="category-title">
            <h1>Ürünler</h1>
          </div>
          <div class="category-products">
                @{
                    var Query = new List<TB_PRODUCT>();


                    // Eğer kategori marva ve ürün tipi geldiyse.
                    if (cid != 0 && pid != 0 && bid != 0)
                    {
                        Query = db.TB_PRODUCT.Where(i => i.m_iCategory == cid && i.m_iProductType == pid && i.m_iBrand == bid)
                                  .OrderByDescending(i => i.ID)
                                  .Skip((Page - 1) * 12)
                                  .Take(12).ToList();
                    }
                    // Eğer ürün tipi ve kategori geldiyse
                    else if (cid != 0 && pid != 0)
                    {
                        Query = db.TB_PRODUCT.Where(i => i.m_iCategory == cid && i.m_iProductType == pid)
                                  .OrderByDescending(i => i.ID)
                                  .Skip((Page - 1) * 12)
                                  .Take(12).ToList();
                    }
                    // Eğer sadece kategori geldiyse
                    else if(cid != 0)
                    {
                        Query = db.TB_PRODUCT.Where(i=> i.m_iCategory == cid)
                                  .OrderByDescending(i => i.ID)
                                  .Skip((Page - 1) * 12)
                                  .Take(12).ToList();
                    }
                    // Hiç bir parametre gelmediyse
                    else
                    {
                        Query = db.TB_PRODUCT.OrderByDescending(i => i.ID)
                                  .Skip((Page - 1) * 12)
                                  .Take(12).ToList();
                    }
                 }
                @if (Query.Count() <= 0)
                {
                    <h3>Üzgünüz bu kriterlerde, Her hangi bir ürün bulunamadı.</h3>
                }
                else
                {
                    
                    <ul class="products-grid">
                        @foreach (TB_PRODUCT item in Query)
                        {
                            <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="col-item">
                                    <div class="product-image-area">
                                        <a class="product-image" title="@item.strTitle" href="/main/productdetail/@item.ID"> <img src="~/@item.CoverImage" class="img-responsive" alt="@item.strTitle"> </a>
                                        <div class="hover_fly">
                                            <a class="add_to_compare" href="#" onclick="AddCompareList(@(item.ID))">
                                                <div><i class="icon-random"></i><span>Karşılaştır</span></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="@item.strTitle" href="/main/productdetail/@item.ID">@item.strTitle</a> </div>
                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating"></div>
                                                    </div>
                                                </div>
                                                <div class="price-box">
                                                    <p class="special-price"> <span class="price"> @item.m_iPrice </span> </p>
                                                    <p class="old-price"> <span class="price-sep">-</span> <span class="price"> @item.m_iPrice </span> </p>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->

                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </li>
                        }
                        </ul>
                        }
              <div class="toolbar">


                  <div class="pager">

                      <div class="pages">
                          <ul class="pagination">
                              @if (Query.Count() > 12)
                              {
                                <li><a href="/main/product/page=@(Request["page"] == null ? "1" : (int.Parse(Request["page"])-1).ToString())&category=@(Request["category"] == null ? "0" : Request["category"])&producttype=@(Request["producttype"] == null ? "0" : Request["producttype"])&brand=@(Request["brand"] == null ? "0" : Request["brand"])">«</a></li>
                              }
                              @for (int i = 1; i <= (Query.Count / 12); i++)
                              {
                                <li class="@(Page == i ? "active" : "")" >
                                    <a href="/main/product/page=@(Request["page"] == null ? "1" : (int.Parse(Request["page"])-1).ToString())&category=@(Request["category"] == null ? "0" : Request["category"])&producttype=@(Request["producttype"] == null ? "0" : Request["producttype"])&brand=@(Request["brand"] == null ? "0" : Request["brand"])">@i</a></li>
                              }
                              @if (Query.Count()-(12 * Page) > 12)
                              {
                                  <li><a href="/main/product/page=@(Request["page"] == null ? "1" : (int.Parse(Request["page"])-1).ToString())&category=@(Request["category"] == null ? "0" : Request["category"])&producttype=@(Request["producttype"] == null ? "0" : Request["producttype"])&brand=@(Request["brand"] == null ? "0" : Request["brand"])">»</a></li>
                              }
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
        </section>
        <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated animated" style="visibility: visible;">
            <div class="side-nav-categories">
                <div class="block-title"> Ürünler </div>
                <!--block-title-->
                <!-- BEGIN BOX-CATEGORY -->
                <div class="box-content box-category">
                    <ul>
                        @foreach (TB_CATEGORIES item in db.TB_CATEGORIES.Where(i => i.m_iTopMenu == 0))
                        {
                            <li class="@(Request["category"] == null ? "" : Request["category"] == item.ID.ToString() ? "active" : "")">
                                <a href="/main/product?category=@item.ID"> @item.strTitle </a> <span class="subDropdown plus"></span>
                                @if(db.TB_CATEGORIES.Where(i => i.m_iTopMenu == item.ID).Count() <= 0)
                                {
                                    continue;
                                }
                                <ul class="level1">
                                    @foreach (TB_CATEGORIES subitem in db.TB_CATEGORIES.Where(i => i.m_iTopMenu == item.ID))
                                    {
                                        <li> <a href="/main/product/?category=@(item.ID)&producttype=@(subitem.ID)"> @subitem.strTitle </a>
                                            @if (db.TB_CATEGORIES.Where(i => i.m_iTopMenu == subitem.ID).Count() <= 0)
                                            {
                                                continue;
                                            }
                                            <ul>
                                                @foreach (TB_CATEGORIES subitem2 in db.TB_CATEGORIES.Where(i => i.m_iTopMenu == subitem.ID && i.m_isBrand))
                                                {
                                                    <li> <a href="/main/product/?category=@(item.ID)&producttype=@(subitem.ID)&brand=@(subitem2.ID)"> @subitem2.strTitle </a> </li>
                                                }
                                            </ul>
                                     </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <!--box-content box-category-->
            </div>

          
          
        </aside>
      </div>
    </div>
  </div>